

#chat-list-c {
	width: 600px;
	padding: 10px;
	margin-left:400px;
}



.chat-item{
	padding:2px;
	border: 1px solid #ddd;
	margin:5px 0px 5px 0px;
	background-image: url(/images/content_background.png)
	
}

.chat-item-content{
	font-size: 13px;
	text-align: left;
	padding-left: 5px;

}
