#daily-list-c {
	width: 1000px;
	padding: 10px;
	float: right;
	margin-right: 100px; 
}

.daily-item{
	background-image: url(/images/content_background.png);
	border: 1px solid #ddd;
	border-style: outset;
	
}

.daily-title {
	font-size: 16px;
	padding-left: 5px;
}

.daily-title:hover {
	cursor: pointer;
}

.daily-item.summary .daily-summary{
	display:block;
}

.daily-item.content .daily-summary{
	display:none;
}

.daily-item.summary .daily-content{
	display:none;
}

.daily-item.content .daily-content{
	display:block;
}

.daily-summary {
	font-size: 14px;
	padding-left: 10px;
}

.daily-content {
	font-size: 15px;
	padding: 5px 10px;
}

.daily-info {
	font-size: 13px;
	text-align: right;
	padding-right: 20px;
}