#header {
	font-size: 16px;
	font-family: Trebuchet MS;
	border-bottom: 1px dotted #CCC;
	padding: 18px 0 0;
	height: 40px;
}

.c {
	display: block;
}

.L {
	float: left;
	color: #D10;
	margin-left: 16px;
}

.R {
	float: right;
	margin-right: 16px;
}

.partionlineTop {
	border-bottom: 1px solid #DDD;
}

.partionlineBottom {
	border-top: 1px solid white;
}

#content-holder {
	padding-top: 20px;
}

#content {
	width: 90%;
	margin-left: 5%;
}

#nav-list {
	width: 18%;
	border: 1px solid #C7CACC;
	float: left;
	text-align: center;
}

.nav-item {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #ccc;
}

.nav-a {
	color: #444;
}

.nav-link {
	display: block;
	color: black;
	font-size: 14px;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none
}

.nav-link:HOVER {
	background-color: white;
}

#feed {
	width: 80%;
	float: right;
}

.plist-header {
	width: 800px;
	height: 68px;
	margin-left: 38px;
}

.header-background {
	position: absolute;
	z-index: 3;
}

#head-choice1 {
	position: absolute;
	display: block;
	width: 162px;
	height: 42px;
	margin-left: 60px;
	margin-top: 10px;
	line-height: 44px;
	border: 1px solid black;
	z-index: 6;
	line-height: 44px;
}

#head-choice2 {
	position: absolute;
	display: block;
	width: 129px;
	height: 42px;
	margin-left: 223px;
	margin-top: 10px;
	line-height: 44px;
	border: 1px solid black;
	z-index: 6;
}

#head-choice3 {
	position: absolute;
	display: block;
	width: 130px;
	height: 42px;
	margin-left: 353px;
	margin-top: 10px;
	line-height: 44px;
	border: 1px solid black;
	z-index: 6;
}

#head-choice4 {
	position: absolute;
	display: block;
	width: 154px;
	height: 42px;
	margin-left: 484px;
	margin-top: 10px;
	line-height: 44px;
	border: 1px solid black;
	z-index: 6;
}

#head-choice5 {
	position: absolute;
	display: block;
	width: 180px;
	height: 42px;
	margin-left: 639px;
	margin-top: 10px;
	line-height: 44px;
	border: 1px solid black;
	z-index: 6;
}

.choice:HOVER {
	background-color: white;
}

#plist-content {
	position: absolute;
	margin-top: -18px;
	margin-left: 100px;
	background-color: rgb(103,103,103);
	width: 765px;
	height: 600px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	z-index: 2;
	overflow-y: scroll;
}

#plist-footer {
	position: absolute;
	z-index: 4;
	margin-left: 100px;
	margin-top: 571px;
	width: 765px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}