#header {
	font-size: 16px;
	font-family: Trebuchet MS;
	border-bottom: 1px dotted #CCC;
	padding: 18px 0 0;
	height: 40px;
}

.c {
	display: block;
}

.L {
	float: left;
	color: #D10;
	margin-left: 16px;
}

.R {
	float: right;
	margin-right: 16px;
}

.partionlineTop {
	border-bottom: 1px solid #DDD;
}

.partionlineBottom {
	border-top: 1px solid white;
}

#content-holder {
	padding-top: 20px;
}

#content {
	width: 90%;
	margin-left: 5%;
}

#nav-list {
	width: 18%;
	border: 1px solid #C7CACC;
	float: left;
	text-align: center;
}

.nav-item {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #ccc;
}

.nav-a {
	color: #444;
}

.nav-link {
	display: block;
	color: black;
	font-size: 14px;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none
}

.nav-link:HOVER {
	background-color: white;
}

#feed {
	padding-top: 28px;
	width: 80%;
	float: right;
	height: 900px;
}

#quotation_container1 {
	width: 50%;
	border: 1px solid #CCC;
	margin-left: 70px;
	height: 700px;
	position: absolute;
	z-index: 1;
	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	box-shadow: 6px 2px 5px #cdcdcd;
	background-color: white;
}

#quotation_container2 {
	width: 50%;
	border: 1px solid #CCC;
	margin-left: 70px;
	background-color: white;
	height: 700px;
	position: absolute;
	z-index: 2;
	transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	box-shadow: 6px 2px 5px #cdcdcd;
}

.quotation_tag1 {
	margin-left: 83.7%;
	margin-top: -30px;
	position: absolute;
	-webkit-transform: rotate(7deg);
	z-index: 3;
	position: absolute;
}

.quotation_tag2 {
	margin-left: -39px;
	margin-top: -38px;
	position: absolute;
	-webkit-transform: rotate(-2deg);
	z-index: 3;
}

.item2 {
	width: 70%;
	height: 50px;
	background: url(/images/quotation_background.png) repeat;
	border: 1px solid #CCC;
	border-radius: 5px;
	position: absolute;
	-webkit-transform: rotate(-1deg);
	padding: 15px 10px;
	margin-top: 80px;
	left: 13%;
	z-index: 4;
	position: absolute;
	box-shadow: 2px 3px 5px #cdcdcd;
}

.note_tag {
	margin-left: 40%;
	margin-top: -27px;
	-webkit-transform: rotate(-1deg);
}